.header-navbar{
    // width: 100%;
    margin: 0px 30px -20px 60px;
    padding-top: 30px;
}

.register-login{
    width: 260px;
}

.login{

}

.register{

}

.register span{
    font-family: iransans;
    font-size: 0.7rem;
    opacity: 0.8;
}

.banner-header{
    background-image: url(../assets/images/hero-image.png);
    background-repeat: no-repeat;
    height: 100%;
}

.custom-btn{
    border: none;
    padding: 11px 8px;
    background-color: $color-pink-primary;
    color: $color-pure-white;
    border-radius: 4px;
    font-size: 0.95rem;
    outline: none;
    &:hover{
        background-color: $color-pink-secondary;
        a{
            color: $color-pure-white;
        }
    }
    a{
         font-family: iransans;

        span{
        font-family: iransansbold;

        }        
    }
}



.order-food{
    position: absolute;
    // width: 34%;
    top: 45%;
    right: 3%;
    font-size: 14px;
}

.changing-food{

}

.changing-food ul li span{
    color: $color-pink-primary;
}

.search-address{
    margin: 20px 0;
    width: 100%;
}

.search-address form{
    width: 100%;
    position: relative;
}

.search-address form input{
    width: 100%;
    border: none;
    background-color: $color-pure-white;
    box-shadow: -1px 2px 4px rgba($color: #000000, $alpha: 0.2);
    border-radius: 30px;
    padding: 15px 30px;
    outline: none;
}

.search-address form input::placeholder{
    font-weight: 100;
    font-size: 12px;
    opacity: 0.5;
}

.search-address form i:nth-child(2){
    position: absolute;
    right: 3%;
    top: 30%;
    color: $color-gray;
}

.search-address form i:nth-child(3){
    position: absolute;
    left: 1%;
    top: 8%;
    background-color: $color-pink-primary;
    color: $color-pure-white;
    padding: 15px;
    border: none;
    border-radius: 50%;
    &:hover{
        background-color: $color-pink-secondary;
    }
}

.vertical-wrap{
    height: 60px;
//   line-height: 30px;
  overflow: hidden; /* HIDE SCROLL BAR */
//   background: #eee;
    position: relative;
}

.vertical-move{

    transform: translateY(170px);
    transition: transform 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53) 0.3s;
    
}
.vertical-item{
    height: 60px;
    line-height: 29px;
    text-align: center;
    color: $color-pink-primary;
}

.food-varities{
    position: absolute;
    bottom: -12%;
    width: 97%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2.5rem);
    border-radius: 18px;
    padding: 25px 5px;
    
}

.food-item{
    min-width: 100px;
    span{
        font-family: iransansbold;
        opacity: 0.7;
    }
}

.category{
    margin: 0 20px 0 40px;
    width: 97%;
    --bs-gutter-x: 0;

}

.category-title{
    margin-right: 30px;
    margin-bottom: 20px;
    span{
        font-family: iransans;
        font-size: 0.9rem;
        font-weight: bold;
    }
}

.category-item{
        border-radius: 15px; 
        // width: 190px;
        position: relative;
        box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);
        margin: 10px 0px;
    img{
        padding: 5px;
        border-radius: 15px;
        width: 100%;
        background-color: $color-pure-white;
    }
    a{
        display: flex;
        position: absolute;
        bottom: 0%;
        right: 2%;
        background-color: $color-pure-white;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: transform 0.4s ease-in-out;
        padding: 3px 15px;
        &:hover i{
            transform: translateX(-4px);
        }
        span{   
            font-family: iransansbold;
            font-size: 1rem;
        }
        i{
            color: $color-pink-primary;
            font-size: 14px;        
            transition: transform 0.4s ease-in-out;
            margin-right: 8px;
            
        }
    }
}

.download-app{
    margin: 100px auto;
    height: 550px;
    background-color: $color-light-gray;
    width: 95%;
    border-bottom-right-radius: 100px;

}

.app-description{
    // width: 60%;
    padding-right: 130px !important;
    height: 85%;
    h2{
        margin-top: 30px;
        opacity: 0.9;
    }
    span{
        font-family: iransanslight;
        font-size: 14px;
        line-height: 2.5;
        padding-left: 58px;
        font-weight: 400;
    }
}



.app-description form{
    position: relative;
    font-size: 12px;
    width: 55%;
}

.app-description .phone-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 45px;
    padding-left: 10px;
    border-radius: 4px;
    width: 90%;
    

}

.app-description form input[type="text"]{
    margin-top: 10px;
    border: none;
    outline: none;
    padding-right: 10px;
    width: 70%;
    font-size: 12px;
}

.app-description form input[type="text"]::placeholder{
    opacity: 0.5;
}

.app-description form input[type="button"]{
    // position: absolute;
    // top: 60%;
    // left:13%;
    width: 100px;
    height: 30px;
    font-size: 12px;
}

.app-description form label{
    font-family: iransansbold;
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 10px;
}

.app-links{

}

.download-image{
    position: relative;
    height: 100%;
    // width: 40%;
    img{
        width: 85%;
        // height: 100%;
        position: absolute;
        top: -23%;
        left: 10%;
    }
}

.vendor{
    margin:150px auto 50px auto;
    height: 300px;
    background-color: $color-white;
    width: 95%;
    border-radius: 50px;
    
}

.vendor-signup{
    height: 57%;
    margin: auto 0;
    padding-right: 30px;
    h1{
        opacity: 0.9;
        font-size: 1.9rem;
    }
    h5{
        font-family: iransanslight;
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0.8;
    }
    button{
        i{
            font-size: 1.3rem;
        }
    }
}

.vendor-image{
    height: 100%;
    position: relative;
    width: 40%;
    img{
        position: absolute;
        top: -32%;
        left: 10%;
    }
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgba($color: #000000, $alpha: 7%);
    

}

.cities{
    padding-right: 0px;
}

.city-title{
    margin: 40px 0;
   h6{
    font-family: iransansbold;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 20px;
    opacity: 0.9;
   }
}

.city-names{
    div{
        p{
            font-family: iransansbold;
            font-size: 10px;
            opacity: 0.5;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}

.footer-logo-socials{

}

.logo{
    div{
        img{
            width: 80px;
        }
    }
    h6{
        color: $color-pink-primary;
        font-size: 1.1rem;
    }
    span{
        font-size: 10px;
        opacity: 0.8;
    }
}

.socials{
    padding-top: 30px;
    margin-right: 30px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: $color-pure-white;
        box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
       
        a{

            
            i{
                font-size: 20px;
                color: rgba($color: #000000, $alpha: 0.6);
            }

            img{
                color: rgba($color: #000000, $alpha: 0.5);
                width: 20px;
            }
        }
    }
}

.footer-about{
    div{
        width: 30%;
        a{
            padding: 10px 0;
            font-size: 10px;
            opacity: 0.8;
        }
    }
}

.footer-credentials{

}

@media(max-width:980px){
    .order-food{
        top: 20%;
        h1{
            font-size: 20px;
        }
    }
    .vertical-move{
        div{
            font-size:  20px !important;
        }
    }

    .food-varities{
        overflow-x: scroll !important;
    }
}

@media(max-width:500px){
    .app-description{
        padding-right: 0 !important;
    }
    .download-app{
        border-radius: 0;
    }
}